# build output
build/
dist/
sdkconfig
sdkconfig.old

# managed components (restored from dependecies.locl)
managed_components/

# Compiled component libraries
*.a

# Default log files/dumps
*.log
*.elf
*.bin
*.map
*.cache

# ESP-IDF secific
dependencies.lock.tmp
